<p>こんにちは!</p>

<p>ユーザー登録してください</p>

<p><%= link_to "登録してください", controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p>
<p>　心当たりが無い場合は、本メッセージは破棄してください。</p>

<p>Ruby on Rails</p>
